<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <table style="width: 100%">
      <tr>
        <th>email</th>
        <th>fistname</th>
        <th>lastname</th>
        <th>gender</th>
        <th>action</th>
      </tr>
      <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].email %></td>
        <td><%= data[i].firstName %></td>
        <td><%= data[i].lastName %></td>
        <td><%= data[i].gender %></td>
        <td>
          <a href="/edit-crud?id=<%= data[i].id %>" type="button">edit</a>
          <a href="/delete-crud?id=<%= data[i].id %>" type="button">delete</a>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
